.env

temp_docs/Thread

src/config/*
!src/config/agent.example.yaml
!src/config/missions.example.yaml

src/training/training_progress.json
src/training/data/*
src/training/data/*/*

**/.DS_Store
.DS_Store

cookies.json

node_modules
package-lock.json

follows_rows.csv

transferFollows.ts